/* =================================
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}
body {
  font-family: fantasy;
	line-height: 1.6;
  font-family: "Times New Roman";
}

/* =================================
  Base Layout Styles
==================================== */
a{
  color: light-gray !important;
  font-size: 1.25em;
}

.navbar{
  background-color: black !important;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron{
  height: 30em;
  text-align: left;
  background-image: url("../images/dc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#jumboimg{
  padding-top: 2em;
}

.accomplishments{
  height: 20em;
  width: 100%;
  background-color:  rgb(88, 118, 150);
}

/*================================
  main page style
==================================*/

.mainelements{
  transform: translateY(50px);
  transition: all 1s ease-out;
}

.mainelements.fade-in{
  opacity: 1;
  transform: translateY(0);
}

/*================================
  footer style
==================================*/

footer{
  background-color: rgb(88, 118, 150);
  text: white;
  padding-top: 2em;
}
