// Connect
.container-fluid.padding
  .row.text-center.padding
    .col-12
      h2 Connect
    .col-12.social.padding
      a(href='#')
        i.fab.fa-facebook
      a(href='#')
        i.fab.fa-twitter
      a(href='#')
        i.fab.fa-slack
      a(href='#')
        i.fab.fa-google-plus-g
// footer
footer
  .container-fluid.padding
    .row.text-center
      .col-md-6
        hr.light
        h5 Webmaster
        hr.light
        p Amanda Gray-Baum Au.D
      .col-md-6
        hr.light
        h5 Last Update
        hr.light
        p 02 May 2018
      .col-12
        hr.light
        h5 © afbaum.inc
