// NUMUG and mainnav
.container-fluid
  .row.text-center
    .col-12
      h1.header Nuclear Utility Meteorology User Group
nav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top
  .container-fluid
    button.btn.btn-secondary.btn-lg(type='button', data-toggle='modal', data-target='#loginModal') Login
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarList')
      span.navbar-toggler-icon
    #navbarList.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='/') Home
        li.nav-item
          a.nav-link(href='#') Confrence
        li.nav-item
          a.nav-link(href='#') Position Papers
        li.nav-item
          a.nav-link(href='#') Forum
        li.nav-item
          a.nav-link(href='/presentations') Presentation Archive
        li.nav-item
          a.nav-link(href='#') About Us
// Fixed Background with link to forum
figure
  .fixed-wrap
    #fixed
